/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/*table of context/
1. Mixins and functions
--1.1 Css reset
--1.2 Cleafix
--1.3 fonts
--1.4 colors
--1.5 responsive typografy
--1.6 crossbrowser prefixer
--1.7 responsive fonts for devices
--1.8 sticky footer
--1.9 minor setup for main blocks
2. Responsive grid
--2.1 Media queries mixins and functions
--2.2 Container, columns, rows and sections, amin and aside and footer main styles
--2.3 Header styles
--2.3.1 header__logo
--2.3.1 header__social
--2.3.1 header__slogan
--2.4 Single block styles
3.Aside styles
--3.1 Aside elements
--3.2 Aside colors and blocks
--4.1 Menu styles
5. Menus
--5.1 Main menu styles
--5.2 Social menus
--5.3 Lists styles
6. Slider
--6.1 Slider images
--6.2 Slider style
7. Footer
--7.1 footer blocks
--7.2 footer elements and plugins
8. Extra styles for inputs groups
--8.1 Input form
--8.2 Input group
/*end table of context*/
/*--1.1 css reset*/
@import "compass/reset";
/*end css-reset*/
/* 1.2 clearfix and sticky-footer*/
@import "compass/utilities/general/clearfix";
@import "compass/layout/sticky-footer";
/* --1.1 end clearfix*/
/* --1.2 fonts */
@import url('https://fonts.googleapis.com/css?family=Roboto');
/* --1.2 end fonts */
/*--1.3 colors */
$basefont: rgb(0,0,0);
$linkcolor: rgb(44,66,90);
$basedarkblue:rgb(44,66,90);
$lightblue:rgb(187, 208, 225);
$greycolor:rgb(142, 147, 153);
$darkshadow:rgb(102, 102, 102);
$colors:$basefont, $linkcolor, $basedarkblue, $greycolor, $lightblue;
/*--1.4 end-colors*/
/*--1.4 responsive typography*/
/*--1.7 sticky footer--*/
@include sticky-footer(72px,"#root","#helper_footer","#footer");
/*end sticky footer*/
/* adaptive fonts are not enebled conditioning mediaqueries @if media query = $value { $fontsize = $value /$fontsize; }
$large:5000;/*extra large*/
$tablet:1112;
$mobile:768;
$desktop:1200;
$l:1; $i:1;
$basefont:16;
/*predifines based on Opera default sizes*/
$h1:$basefont * 2;
$h2:$basefont * 1.5;
$h3:$basefont * 1.17;
$h4:$basefont * 1;
$p:$basefont * 1;
$h5:0.83 * $basefont;
$h6:0.67 * $basefont;
$fontsizes: $h1, $h2 ,$h3 , $h4, $h5, $h6, $p;
$typography: h1, h2, h3, h4, h5, h6, p;
@for $i from 1 through length($typography) {
$index:nth($typography, $i );
$fontsize:nth($fontsizes, $i);
/*extra large*/
@media screen and (min-width:#{$desktop}px)  {
#{$index}{font-size:#{$fontsize}px;font-weight:100;font-family:"Roboto";}
}
/*desktop*/
@media screen and (min-width:#{$tablet}px) and (max-width: #{desktop}px)  {
#{$index}{font-size:#{$fontsize}px;font-weight:100;font-family:"Roboto";}
}
/*tablets*/
@media screen and (min-width:#{$mobile}px) and (max-width:#{$desktop}px)   {
#{$index}{font-size:#{$fontsize * $tablet / $desktop}px;font-weight:100;font-family:"Roboto";}
}
/*mobile*/
@media screen and (max-width:#{$mobile}px){
#{$index}{font-size:#{$fontsize * $mobile / $tablet}px;font-weight:100;font-family:"Roboto";}
}
/*mobile*/
@media screen and (max-width:#{$mobile}px){
#{$index}{font-size:#{$fontsize * $mobile / $tablet}px;font-weight:100;font-family:"Roboto";}
}
}

img{max-width:100%;height:100%;}
/*end responsive typography*/
/*--1.9 minor setup for main blocks*/
*{box-sizing: border-box;}
#root main,#root aside,#root header{display:inline-block;box-sizing: border-box;padding: 0;}

a{color:#{$linkcolor}; text-decoration:none;};
a:hover{color:#{$basedarkblue}; text-decoration:none;};
img, .sidebar-main__banner__img__responsive{max-width:100%;height:100%;}
aside{padding-right: 0;}
/*-- end 1.9 minor setup for main blocks*/
/*2. Responsive grid*/
.grid-responsive{display:block;margin:auto;max-width:1040px;width:auto;-webkit-box-shadow: 5px 0px 1px 0px #{$basedarkblue};
-moz-box-shadow:    5px 0px 0px 0px #{$basedarkblue};
box-shadow:         5px 0px 0px 0px #{$basedarkblue};
.grid-responsive__container{display:inline-block;}
.grid-responsive::after{@include clearfix;}

.grid-responsive__column{display:inline-block;float:left;min-height:1px;};
.grid-responsive__column::before, .grid-responsive__row::before{@include clearfix; clear:both;}}
$colnumber:13;
$c:1;
@for $c from 1 through $colnumber{
.grid-responsive__column__col-#{$c}{width:calc(100% * #{$c} / #{$colnumber});}
}
[class*="grid-responsive__column__col-"] {float:left;}
[class*="grid-responsive__column__col-"] ::after{@include clearfix;}
/*block that acts like row and like block and have the height value nad width value insted of inline that have only block value*/
@media screen and (min-width:1024px){
.grid-responsive__row { width:100%;}
.grid-responsive__column{padding:0 10px;}
}
/* 2.3 header style */
header{height:auto;width:auto;}
hr.main__hr{height:8px;background:#{$basedarkblue};margin-top: 0px;}
/*--2.3.1 header__logo*/
.header__social{
.header__social__contacts address{display:inline-block;float:right;}
.header__social__fb{background: url("./img/social.png");width:40px;height:40px;background-position: 0px 0px;}
.header__social__yt{background: url("./img/social.png");background-position: 0px 0px;}
.header__social__in{background: url("./img/social.png");background-position: 0px 0px;}
}
/* 2.3 end header style */




/*3. Sidebar styles*/

/*end sidebar*/
/*tablet resolution*/
@media screen and (min-width:768px) and (max-width:1024px){
[class*="grid-responsive__column__col-"]{padding:0 10px;}
}
/*mobile device column grid and height*/
@media screen and (min-width:0px) and (max-width:768px){
.grid-responsive{width:100%;margin:auto}/*width of the main container*/
[class*="grid-responsive__column__col-"]{padding:0 6.4px;width:100%}
.sidebar-main_menu__link__active{width:100%;}
}
/*maim menu*/
.sidebar-main__menu{
background:#{$darkshadow}};
.sidebar-main_menu__link{display:block;padding:20px;background:#e1e1e1;border-bottom: 1px solid grey;
& a{text-decoration:none;}}
.sidebar-main_menu__link__active{
background:#{$lightblue};color:blue;width:120%;border-right-width: 20px;border-left-width: 20px;
&::before{ content: '';
border-left: 22px solid #b8d2e0;
border-bottom: 26px solid #fff;
border-top: 30px solid #fff;
float: right;
display: block;
margin-right: -40px;
top: 0;
margin-top: -20px;}
&::after{ content: '';
border-radius:50%;width:10px;height:10px;background:white;margin:3px;
float: right;
}
}
/*7 Footer*/
.footer{background:#{$basedarkblue};width:100%;}
main,aside{float:left;}
.prefooter,{width:100%;background:#{$lightblue};}
/*7 end Footer*/
