/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/*table of context/
1. Mixins and functions
--1.1 Css reset
--1.2 Cleafix
--1.3 fonts
--1.4 colors
--1.5 responsive typografy
--1.6 crossbrowser prefixer
--1.7 responsive fonts for devices
--1.8 sticky footer
--1.9 minor setup for main blocks
2. Responsive grid
--2.1 Media queries mixins and functions
--2.2 Container, columns, rows and sections, amin and aside and footer main styles
--2.3 Header styles
--2.3.1 header__logo
--2.3.1 header__social
--2.3.1 header__slogan
--2.4 Single block styles
3.Aside styles
--3.1 Aside elements
--3.2 Aside colors and blocks
--4.1 Menu styles
5. Menus
--5.1 Main menu styles
--5.2 Social menus
--5.3 Lists styles
6. Slider
--6.1 Slider images
--6.2 Slider style
7. Footer
--7.1 footer blocks
--7.2 footer elements and plugins
8. Extra styles for inputs groups
--8.1 Input form
--8.2 Input group
/*end table of context*/
/*--1.1 css reset*/
@import url("https://fonts.googleapis.com/css?family=Roboto");
/* line 5, ../../../../../var/lib/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../var/lib/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../var/lib/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../var/lib/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../var/lib/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../var/lib/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../var/lib/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../var/lib/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../var/lib/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/*end css-reset*/
/* 1.2 clearfix and sticky-footer*/
/* --1.1 end clearfix*/
/* --1.2 fonts */
/* --1.2 end fonts */
/*--1.3 colors */
/*--1.4 end-colors*/
/*--1.4 responsive typography*/
/*--1.7 sticky footer--*/
/* line 10, ../../../../../var/lib/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/layout/_sticky-footer.scss */
html, body {
  height: 100%;
}

/* line 12, ../../../../../var/lib/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/layout/_sticky-footer.scss */
#root {
  clear: both;
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin-bottom: -72px;
}
/* line 18, ../../../../../var/lib/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/layout/_sticky-footer.scss */
#root #helper_footer {
  height: 72px;
}

/* line 20, ../../../../../var/lib/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/layout/_sticky-footer.scss */
#footer {
  clear: both;
  position: relative;
  height: 72px;
}

/*end sticky footer*/
/* adaptive fonts are not enebled conditioning mediaqueries @if media query = $value { $fontsize = $value /$fontsize; }
$large:5000;/*extra large*/
/*predifines based on Opera default sizes*/
/*extra large*/
@media screen and (min-width: 1200px) {
  /* line 87, ../sass/screen.scss */
  h1 {
    font-size: 32px;
    font-weight: 100;
    font-family: "Roboto";
  }
}
/*desktop*/
@media screen and (min-width: 1112px) and (max-width: desktoppx) {
  /* line 91, ../sass/screen.scss */
  h1 {
    font-size: 32px;
    font-weight: 100;
    font-family: "Roboto";
  }
}
/*tablets*/
@media screen and (min-width: 768px) and (max-width: 1200px) {
  /* line 95, ../sass/screen.scss */
  h1 {
    font-size: 29.65333px;
    font-weight: 100;
    font-family: "Roboto";
  }
}
/*mobile*/
@media screen and (max-width: 768px) {
  /* line 99, ../sass/screen.scss */
  h1 {
    font-size: 22.10072px;
    font-weight: 100;
    font-family: "Roboto";
  }
}
/*mobile*/
@media screen and (max-width: 768px) {
  /* line 103, ../sass/screen.scss */
  h1 {
    font-size: 22.10072px;
    font-weight: 100;
    font-family: "Roboto";
  }
}
/*extra large*/
@media screen and (min-width: 1200px) {
  /* line 87, ../sass/screen.scss */
  h2 {
    font-size: 24px;
    font-weight: 100;
    font-family: "Roboto";
  }
}
/*desktop*/
@media screen and (min-width: 1112px) and (max-width: desktoppx) {
  /* line 91, ../sass/screen.scss */
  h2 {
    font-size: 24px;
    font-weight: 100;
    font-family: "Roboto";
  }
}
/*tablets*/
@media screen and (min-width: 768px) and (max-width: 1200px) {
  /* line 95, ../sass/screen.scss */
  h2 {
    font-size: 22.24px;
    font-weight: 100;
    font-family: "Roboto";
  }
}
/*mobile*/
@media screen and (max-width: 768px) {
  /* line 99, ../sass/screen.scss */
  h2 {
    font-size: 16.57554px;
    font-weight: 100;
    font-family: "Roboto";
  }
}
/*mobile*/
@media screen and (max-width: 768px) {
  /* line 103, ../sass/screen.scss */
  h2 {
    font-size: 16.57554px;
    font-weight: 100;
    font-family: "Roboto";
  }
}
/*extra large*/
@media screen and (min-width: 1200px) {
  /* line 87, ../sass/screen.scss */
  h3 {
    font-size: 18.72px;
    font-weight: 100;
    font-family: "Roboto";
  }
}
/*desktop*/
@media screen and (min-width: 1112px) and (max-width: desktoppx) {
  /* line 91, ../sass/screen.scss */
  h3 {
    font-size: 18.72px;
    font-weight: 100;
    font-family: "Roboto";
  }
}
/*tablets*/
@media screen and (min-width: 768px) and (max-width: 1200px) {
  /* line 95, ../sass/screen.scss */
  h3 {
    font-size: 17.3472px;
    font-weight: 100;
    font-family: "Roboto";
  }
}
/*mobile*/
@media screen and (max-width: 768px) {
  /* line 99, ../sass/screen.scss */
  h3 {
    font-size: 12.92892px;
    font-weight: 100;
    font-family: "Roboto";
  }
}
/*mobile*/
@media screen and (max-width: 768px) {
  /* line 103, ../sass/screen.scss */
  h3 {
    font-size: 12.92892px;
    font-weight: 100;
    font-family: "Roboto";
  }
}
/*extra large*/
@media screen and (min-width: 1200px) {
  /* line 87, ../sass/screen.scss */
  h4 {
    font-size: 16px;
    font-weight: 100;
    font-family: "Roboto";
  }
}
/*desktop*/
@media screen and (min-width: 1112px) and (max-width: desktoppx) {
  /* line 91, ../sass/screen.scss */
  h4 {
    font-size: 16px;
    font-weight: 100;
    font-family: "Roboto";
  }
}
/*tablets*/
@media screen and (min-width: 768px) and (max-width: 1200px) {
  /* line 95, ../sass/screen.scss */
  h4 {
    font-size: 14.82667px;
    font-weight: 100;
    font-family: "Roboto";
  }
}
/*mobile*/
@media screen and (max-width: 768px) {
  /* line 99, ../sass/screen.scss */
  h4 {
    font-size: 11.05036px;
    font-weight: 100;
    font-family: "Roboto";
  }
}
/*mobile*/
@media screen and (max-width: 768px) {
  /* line 103, ../sass/screen.scss */
  h4 {
    font-size: 11.05036px;
    font-weight: 100;
    font-family: "Roboto";
  }
}
/*extra large*/
@media screen and (min-width: 1200px) {
  /* line 87, ../sass/screen.scss */
  h5 {
    font-size: 13.28px;
    font-weight: 100;
    font-family: "Roboto";
  }
}
/*desktop*/
@media screen and (min-width: 1112px) and (max-width: desktoppx) {
  /* line 91, ../sass/screen.scss */
  h5 {
    font-size: 13.28px;
    font-weight: 100;
    font-family: "Roboto";
  }
}
/*tablets*/
@media screen and (min-width: 768px) and (max-width: 1200px) {
  /* line 95, ../sass/screen.scss */
  h5 {
    font-size: 12.30613px;
    font-weight: 100;
    font-family: "Roboto";
  }
}
/*mobile*/
@media screen and (max-width: 768px) {
  /* line 99, ../sass/screen.scss */
  h5 {
    font-size: 9.1718px;
    font-weight: 100;
    font-family: "Roboto";
  }
}
/*mobile*/
@media screen and (max-width: 768px) {
  /* line 103, ../sass/screen.scss */
  h5 {
    font-size: 9.1718px;
    font-weight: 100;
    font-family: "Roboto";
  }
}
/*extra large*/
@media screen and (min-width: 1200px) {
  /* line 87, ../sass/screen.scss */
  h6 {
    font-size: 10.72px;
    font-weight: 100;
    font-family: "Roboto";
  }
}
/*desktop*/
@media screen and (min-width: 1112px) and (max-width: desktoppx) {
  /* line 91, ../sass/screen.scss */
  h6 {
    font-size: 10.72px;
    font-weight: 100;
    font-family: "Roboto";
  }
}
/*tablets*/
@media screen and (min-width: 768px) and (max-width: 1200px) {
  /* line 95, ../sass/screen.scss */
  h6 {
    font-size: 9.93387px;
    font-weight: 100;
    font-family: "Roboto";
  }
}
/*mobile*/
@media screen and (max-width: 768px) {
  /* line 99, ../sass/screen.scss */
  h6 {
    font-size: 7.40374px;
    font-weight: 100;
    font-family: "Roboto";
  }
}
/*mobile*/
@media screen and (max-width: 768px) {
  /* line 103, ../sass/screen.scss */
  h6 {
    font-size: 7.40374px;
    font-weight: 100;
    font-family: "Roboto";
  }
}
/*extra large*/
@media screen and (min-width: 1200px) {
  /* line 87, ../sass/screen.scss */
  p {
    font-size: 16px;
    font-weight: 100;
    font-family: "Roboto";
  }
}
/*desktop*/
@media screen and (min-width: 1112px) and (max-width: desktoppx) {
  /* line 91, ../sass/screen.scss */
  p {
    font-size: 16px;
    font-weight: 100;
    font-family: "Roboto";
  }
}
/*tablets*/
@media screen and (min-width: 768px) and (max-width: 1200px) {
  /* line 95, ../sass/screen.scss */
  p {
    font-size: 14.82667px;
    font-weight: 100;
    font-family: "Roboto";
  }
}
/*mobile*/
@media screen and (max-width: 768px) {
  /* line 99, ../sass/screen.scss */
  p {
    font-size: 11.05036px;
    font-weight: 100;
    font-family: "Roboto";
  }
}
/*mobile*/
@media screen and (max-width: 768px) {
  /* line 103, ../sass/screen.scss */
  p {
    font-size: 11.05036px;
    font-weight: 100;
    font-family: "Roboto";
  }
}
/* line 107, ../sass/screen.scss */
img {
  max-width: 100%;
  height: 100%;
}

/*end responsive typography*/
/*--1.9 minor setup for main blocks*/
/* line 110, ../sass/screen.scss */
* {
  box-sizing: border-box;
}

/* line 111, ../sass/screen.scss */
main, aside, header {
  display: inline-block;
  box-sizing: border-box;
}

/* line 112, ../sass/screen.scss */
a {
  color: #2c425a;
  text-decoration: none;
}

/* line 113, ../sass/screen.scss */
a:hover {
  color: #2c425a;
  text-decoration: none;
}

/* line 114, ../sass/screen.scss */
img, .sidebar-main__banner__img__responsive {
  max-width: 100%;
  height: 100%;
}

/*-- end 1.9 minor setup for main blocks*/
/*2. Responsive grid*/
/* line 117, ../sass/screen.scss */
.grid-responsive {
  display: block;
  margin: auto;
  max-width: 1040px;
  width: auto;
}

/* line 118, ../sass/screen.scss */
.grid-responsive::after {
  overflow: hidden;
  *zoom: 1;
}

/* line 120, ../sass/screen.scss */
.grid-responsive__column {
  display: inline-block;
  float: left;
}

/* line 121, ../sass/screen.scss */
.grid-responsive__column::before, .grid-responsive__row::before {
  overflow: hidden;
  *zoom: 1;
  clear: both;
}

/* line 125, ../sass/screen.scss */
.grid-responsive__column__col-1 {
  width: calc(100% * 1 / 13);
}

/* line 125, ../sass/screen.scss */
.grid-responsive__column__col-2 {
  width: calc(100% * 2 / 13);
}

/* line 125, ../sass/screen.scss */
.grid-responsive__column__col-3 {
  width: calc(100% * 3 / 13);
}

/* line 125, ../sass/screen.scss */
.grid-responsive__column__col-4 {
  width: calc(100% * 4 / 13);
}

/* line 125, ../sass/screen.scss */
.grid-responsive__column__col-5 {
  width: calc(100% * 5 / 13);
}

/* line 125, ../sass/screen.scss */
.grid-responsive__column__col-6 {
  width: calc(100% * 6 / 13);
}

/* line 125, ../sass/screen.scss */
.grid-responsive__column__col-7 {
  width: calc(100% * 7 / 13);
}

/* line 125, ../sass/screen.scss */
.grid-responsive__column__col-8 {
  width: calc(100% * 8 / 13);
}

/* line 125, ../sass/screen.scss */
.grid-responsive__column__col-9 {
  width: calc(100% * 9 / 13);
}

/* line 125, ../sass/screen.scss */
.grid-responsive__column__col-10 {
  width: calc(100% * 10 / 13);
}

/* line 125, ../sass/screen.scss */
.grid-responsive__column__col-11 {
  width: calc(100% * 11 / 13);
}

/* line 125, ../sass/screen.scss */
.grid-responsive__column__col-12 {
  width: calc(100% * 12 / 13);
}

/* line 125, ../sass/screen.scss */
.grid-responsive__column__col-13 {
  width: calc(100% * 13 / 13);
}

/* line 127, ../sass/screen.scss */
[class*="grid-responsive__column__col-"] {
  float: left;
}

/* line 128, ../sass/screen.scss */
[class*="grid-responsive__column__col-"] ::after {
  overflow: hidden;
  *zoom: 1;
}

/*block that acts like row and like block and have the height value nad width value insted of inline that have only block value*/
@media screen and (min-width: 1024px) {
  /* line 131, ../sass/screen.scss */
  .grid-responsive__row {
    width: 100%;
  }

  /* line 132, ../sass/screen.scss */
  .grid-responsive__column {
    padding: 0 10px;
    min-height: 1px;
  }
}
/* 2.3 header style */
/* line 135, ../sass/screen.scss */
header {
  height: auto;
  width: auto;
}

/* line 136, ../sass/screen.scss */
hr .main__hr {
  height: 8px;
  background: #2c425a;
}

/*--2.3.1 header__logo*/
/* line 139, ../sass/screen.scss */
.header__social .header__social__contacts address {
  display: inline-block;
  float: right;
}
/* line 140, ../sass/screen.scss */
.header__social .header__social__fb {
  background: url("./img/social.png");
  width: 40px;
  height: 40px;
  background-position: 0px 0px;
}
/* line 141, ../sass/screen.scss */
.header__social .header__social__yt {
  background: url("./img/social.png");
  background-position: 0px 0px;
}
/* line 142, ../sass/screen.scss */
.header__social .header__social__in {
  background: url("./img/social.png");
  background-position: 0px 0px;
}

/* 2.3 end header style */
/*tablet resolution*/
@media screen and (min-width: 768px) and (max-width: 1024px) {
  /* line 147, ../sass/screen.scss */
  [class*="grid-responsive__column__col-"] {
    padding: 0 10px;
  }
}
/*mobile device column grid and height*/
@media screen and (min-width: 0px) and (max-width: 768px) {
  /* line 151, ../sass/screen.scss */
  .grid-responsive {
    width: 100%;
    margin: auto;
  }

  /*width of the main container*/
  /* line 152, ../sass/screen.scss */
  [class*="grid-responsive__column__col-"] {
    padding: 0 6.4px;
    width: 100%;
  }

  /* line 153, ../sass/screen.scss */
  .sidebar-main_menu__link__active {
    width: 100%;
  }
}
/*maim menu*/
/* line 156, ../sass/screen.scss */
.sidebar-main__menu {
  background: #666666;
}

/* line 158, ../sass/screen.scss */
.sidebar-main_menu__link {
  display: block;
  padding: 20px;
  background: #e1e1e1;
  border-bottom: 1px solid grey;
}
/* line 159, ../sass/screen.scss */
.sidebar-main_menu__link a {
  text-decoration: none;
}

/* line 161, ../sass/screen.scss */
.sidebar-main_menu__link__active {
  background: #bbd0e1;
  color: blue;
  width: 120%;
  border-right-width: 20px;
  border-left-width: 20px;
}
/* line 163, ../sass/screen.scss */
.sidebar-main_menu__link__active::before {
  content: '';
  border-left: 22px solid #b8d2e0;
  border-bottom: 26px solid #fff;
  border-top: 30px solid #fff;
  float: right;
  display: block;
  margin-right: -40px;
  top: 0;
  margin-top: -20px;
}
/* line 172, ../sass/screen.scss */
.sidebar-main_menu__link__active::after {
  content: '';
  border-radius: 50%;
  width: 10px;
  height: 10px;
  background: white;
  margin: 3px;
  float: right;
}

/*7 Footer*/
/* line 178, ../sass/screen.scss */
.footer {
  background: #2c425a;
  width: 100%;
}

/* line 179, ../sass/screen.scss */
main, aside {
  float: left;
}

/* line 180, ../sass/screen.scss */
.prefooter {
  width: 100%;
  background: #bbd0e1;
}

/*7 end Footer*/
