/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/*table of context/
1. Mixins and functions
--1.1 Css reset
--1.2 Cleafix
--1.3 fonts
--1.4 colors
--1.5 responsive typografy
--1.6 crossbrowser prefixer
--1.7 responsive fonts for devices
--1.8 sticky footer
--1.9
2. Responsive grid
--2.1 Media queries mixins and functions
--2.2 Container, columns, rows and sections, amin and aside and footer main styles
--2.3 Header styles
--2.4 Single block styles
3.Aside styles
--3.1 Aside elements
--3.2 Aside colors and blocks
--4.1 Menu styles
5. Menus
--5.1 Main menu styles
--5.2 Social menus
--5.3 Lists styles
6. Slider
--6.1 Slider images
--6.2 Slider style
7. Footer
--7.1 footer blocks
--7.2 footer elements and plugins
8. Extra styles for inputs groups
--8.1 Input form
--8.2 Input group
/*end table of context*/
/*--1.1 css reset*/
@import url("https://fonts.googleapis.com/css?family=Roboto");
/* line 5, ../../../../../../var/lib/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../var/lib/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../var/lib/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../var/lib/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../var/lib/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../var/lib/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../var/lib/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../var/lib/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../var/lib/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/*end css-reset*/
/* 1.2 clearfix and sticky-footer*/
/* --1.1 end clearfix*/
/* --1.2 fonts */
/* --1.2 end fonts */
/*--1.3 colors */
/*--1.4 end-colors*/
/*--1.4 responsive typography*/
/*--1.7 sticky footer--*/
/* line 10, ../../../../../../var/lib/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/layout/_sticky-footer.scss */
html, body {
  height: 100%;
}

/* line 12, ../../../../../../var/lib/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/layout/_sticky-footer.scss */
#main {
  clear: both;
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin-bottom: -72px;
}
/* line 18, ../../../../../../var/lib/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/layout/_sticky-footer.scss */
#main #prefooter {
  height: 72px;
}

/* line 20, ../../../../../../var/lib/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/layout/_sticky-footer.scss */
#footer {
  clear: both;
  position: relative;
  height: 72px;
}

/*end sticky footer*/
/* An attempt to set adaptive fontsizes for different size media queries are not set*/
/*extra large*/
/* 2rem is the constantfound in common practives value that please use another value than 2 for code below to change sizes of fonts. Ths will be recalculated to $variable further. The h1 2rem is the highest value*/
@media screen and (max-width: 5000px) {
  /* line 82, ../sass/screen.scss */
  h1 {
    font-size: calc( 3rem);
    font-weight: 100;
  }

  /* line 82, ../sass/screen.scss */
  h2 {
    font-size: calc( 2.5rem);
    font-weight: 100;
  }

  /* line 82, ../sass/screen.scss */
  h3 {
    font-size: calc( 2.33333rem);
    font-weight: 100;
  }

  /* line 82, ../sass/screen.scss */
  h4 {
    font-size: calc( 2.25rem);
    font-weight: 100;
  }

  /* line 82, ../sass/screen.scss */
  h5 {
    font-size: calc( 2.2rem);
    font-weight: 100;
  }

  /* line 82, ../sass/screen.scss */
  h6 {
    font-size: calc( 2.16667rem);
    font-weight: 100;
  }

  /* line 82, ../sass/screen.scss */
  p {
    font-size: calc( 2.14286rem);
    font-weight: 100;
  }
}
@media screen and (max-width: 1112px) {
  /* line 82, ../sass/screen.scss */
  h1 {
    font-size: calc( 3rem);
    font-weight: 100;
  }

  /* line 82, ../sass/screen.scss */
  h2 {
    font-size: calc( 2.5rem);
    font-weight: 100;
  }

  /* line 82, ../sass/screen.scss */
  h3 {
    font-size: calc( 2.33333rem);
    font-weight: 100;
  }

  /* line 82, ../sass/screen.scss */
  h4 {
    font-size: calc( 2.25rem);
    font-weight: 100;
  }

  /* line 82, ../sass/screen.scss */
  h5 {
    font-size: calc( 2.2rem);
    font-weight: 100;
  }

  /* line 82, ../sass/screen.scss */
  h6 {
    font-size: calc( 2.16667rem);
    font-weight: 100;
  }

  /* line 82, ../sass/screen.scss */
  p {
    font-size: calc( 2.14286rem);
    font-weight: 100;
  }
}
@media screen and (max-width: 768px) {
  /* line 82, ../sass/screen.scss */
  h1 {
    font-size: calc( 3rem);
    font-weight: 100;
  }

  /* line 82, ../sass/screen.scss */
  h2 {
    font-size: calc( 2.5rem);
    font-weight: 100;
  }

  /* line 82, ../sass/screen.scss */
  h3 {
    font-size: calc( 2.33333rem);
    font-weight: 100;
  }

  /* line 82, ../sass/screen.scss */
  h4 {
    font-size: calc( 2.25rem);
    font-weight: 100;
  }

  /* line 82, ../sass/screen.scss */
  h5 {
    font-size: calc( 2.2rem);
    font-weight: 100;
  }

  /* line 82, ../sass/screen.scss */
  h6 {
    font-size: calc( 2.16667rem);
    font-weight: 100;
  }

  /* line 82, ../sass/screen.scss */
  p {
    font-size: calc( 2.14286rem);
    font-weight: 100;
  }
}
/*end responsive typography*/
/*2. Responsive grid*/
@media screen and (min-width: 1200px) {
  /* line 89, ../sass/screen.scss */
  .container {
    width: 1140px;
  }

  /* line 90, ../sass/screen.scss */
  .grid-reponsive {
    display: inline-block;
    width: 1140px;
  }
  /* line 91, ../sass/screen.scss */
  .grid-reponsive .grid-reponsive__row {
    display: inline-block;
    width: auto;
  }

  /* line 93, ../sass/screen.scss */
  .grid-reponsive__column {
    display: inline-block;
    box-sizing: content-box;
    /*block that acts like row and like block and have the height value nad width value insted of inline that have only block value*/
  }
  /* line 94, ../sass/screen.scss */
  .grid-reponsive__column .grid-reponsive__column__col1 {
    width: 60px;
    padding: 0 10px;
  }
  /* line 95, ../sass/screen.scss */
  .grid-reponsive__column .grid-reponsive__column__col1_col2 {
    width: 120px;
  }
  /* line 96, ../sass/screen.scss */
  .grid-reponsive__column .grid-reponsive__column__col1_col3 {
    width: 180px;
  }
  /* line 97, ../sass/screen.scss */
  .grid-reponsive__column .grid-reponsive__column__col1_col4 {
    width: 240px;
  }
  /* line 98, ../sass/screen.scss */
  .grid-reponsive__column .grid-reponsive__column__col1_col5 {
    width: 300px;
  }
  /* line 99, ../sass/screen.scss */
  .grid-reponsive__column .grid-reponsive__column__col1_col6 {
    width: 360px;
  }
  /* line 100, ../sass/screen.scss */
  .grid-reponsive__column .grid-reponsive__column__col1_col7 {
    width: 420px;
  }
  /* line 101, ../sass/screen.scss */
  .grid-reponsive__column .grid-reponsive__column__col1_col8 {
    width: 480px;
  }
  /* line 102, ../sass/screen.scss */
  .grid-reponsive__column .grid-reponsive__column__col1_col9 {
    width: 540px;
  }
  /* line 103, ../sass/screen.scss */
  .grid-reponsive__column .grid-reponsive__column__col1_col10 {
    width: 600px;
  }
  /* line 104, ../sass/screen.scss */
  .grid-reponsive__column .grid-reponsive__column__col1_col11 {
    width: 660px;
  }
  /* line 105, ../sass/screen.scss */
  .grid-reponsive__column .grid-reponsive__column__col1_col12 {
    width: 720px;
  }
  /* line 106, ../sass/screen.scss */
  .grid-reponsive__column .grid-reponsive__column__col1_col13 {
    width: 780px;
  }
  /* line 107, ../sass/screen.scss */
  .grid-reponsive__column .grid-reponsive__column__col1_col14 {
    width: 840px;
  }
  /* line 108, ../sass/screen.scss */
  .grid-reponsive__column .grid-reponsive__column__col1_col15 {
    width: 900px;
  }
}
/*tablet resolution*/
@media screen and (min-width: 768px) and (max-width: 1200px) {
  /* line 114, ../sass/screen.scss */
  .grid-reponsive__colum__col1 .grid-reponsive__column {
    display: inline-block;
    box-sizing: content-box;
    /*block that acts like row and like block and have the height value nad width value insted of inline that have only block value*/
  }
  /* line 115, ../sass/screen.scss */
  .grid-reponsive__colum__col1 .grid-reponsive__column .grid-reponsive__column__col1 {
    width: 60px;
    padding: 0 10px;
  }
  /* line 116, ../sass/screen.scss */
  .grid-reponsive__colum__col1 .grid-reponsive__column .grid-reponsive__column__col1_col2 {
    width: 38,4px;
  }
  /* line 117, ../sass/screen.scss */
  .grid-reponsive__colum__col1 .grid-reponsive__column .grid-reponsive__column__col1_col3 {
    width: 180px;
  }
  /* line 118, ../sass/screen.scss */
  .grid-reponsive__colum__col1 .grid-reponsive__column .grid-reponsive__column__col1_col4 {
    width: 240px;
  }
  /* line 119, ../sass/screen.scss */
  .grid-reponsive__colum__col1 .grid-reponsive__column .grid-reponsive__column__col1_col5 {
    width: 300px;
  }
  /* line 120, ../sass/screen.scss */
  .grid-reponsive__colum__col1 .grid-reponsive__column .grid-reponsive__column__col1_col6 {
    width: 360px;
  }
  /* line 121, ../sass/screen.scss */
  .grid-reponsive__colum__col1 .grid-reponsive__column .grid-reponsive__column__col1_col7 {
    width: 420px;
  }
  /* line 122, ../sass/screen.scss */
  .grid-reponsive__colum__col1 .grid-reponsive__column .grid-reponsive__column__col1_col8 {
    width: 480px;
  }
  /* line 123, ../sass/screen.scss */
  .grid-reponsive__colum__col1 .grid-reponsive__column .grid-reponsive__column__col1_col9 {
    width: 540px;
  }
  /* line 124, ../sass/screen.scss */
  .grid-reponsive__colum__col1 .grid-reponsive__column .grid-reponsive__column__col1_col10 {
    width: 600px;
  }
  /* line 125, ../sass/screen.scss */
  .grid-reponsive__colum__col1 .grid-reponsive__column .grid-reponsive__column__col1_col11 {
    width: 660px;
  }
  /* line 126, ../sass/screen.scss */
  .grid-reponsive__colum__col1 .grid-reponsive__column .grid-reponsive__column__col1_col12 {
    width: 720px;
  }
  /* line 127, ../sass/screen.scss */
  .grid-reponsive__colum__col1 .grid-reponsive__column .grid-reponsive__column__col1_col13 {
    width: 780px;
  }
  /* line 128, ../sass/screen.scss */
  .grid-reponsive__colum__col1 .grid-reponsive__column .grid-reponsive__column__col1_col14 {
    width: 840px;
  }
  /* line 129, ../sass/screen.scss */
  .grid-reponsive__colum__col1 .grid-reponsive__column .grid-reponsive__column__col1_col15 {
    width: 900px;
  }
}
/*mobile device column grid and height*/
@media screen and (max-width: 768px) {
  /* line 136, ../sass/screen.scss */
  .grid-reponsive__colum__col1 .grid-reponsive__column {
    display: inline-block;
    box-sizing: content-box;
    /*block that acts like row and like block and have the height value nad width value insted of inline that have only block value*/
  }
  /* line 137, ../sass/screen.scss */
  .grid-reponsive__colum__col1 .grid-reponsive__column .grid-reponsive__column__col1 {
    width: 60px;
    padding: 0 6.4px;
  }
  /* line 138, ../sass/screen.scss */
  .grid-reponsive__colum__col1 .grid-reponsive__column .grid-reponsive__column__col1_col2 {
    width: 76.8px;
  }
  /* line 139, ../sass/screen.scss */
  .grid-reponsive__colum__col1 .grid-reponsive__column .grid-reponsive__column__col1_col3 {
    width: 115.2px;
  }
  /* line 140, ../sass/screen.scss */
  .grid-reponsive__colum__col1 .grid-reponsive__column .grid-reponsive__column__col1_col4 {
    width: 153.6px;
  }
  /* line 141, ../sass/screen.scss */
  .grid-reponsive__colum__col1 .grid-reponsive__column .grid-reponsive__column__col1_col5 {
    width: 192px;
  }
  /* line 142, ../sass/screen.scss */
  .grid-reponsive__colum__col1 .grid-reponsive__column .grid-reponsive__column__col1_col6 {
    width: 230.4px;
  }
  /* line 143, ../sass/screen.scss */
  .grid-reponsive__colum__col1 .grid-reponsive__column .grid-reponsive__column__col1_col7 {
    width: 268.8px;
  }
  /* line 144, ../sass/screen.scss */
  .grid-reponsive__colum__col1 .grid-reponsive__column .grid-reponsive__column__col1_col8 {
    width: 307.2px;
  }
  /* line 145, ../sass/screen.scss */
  .grid-reponsive__colum__col1 .grid-reponsive__column .grid-reponsive__column__col1_col9 {
    width: 345.6px;
  }
  /* line 146, ../sass/screen.scss */
  .grid-reponsive__colum__col1 .grid-reponsive__column .grid-reponsive__column__col1_col10 {
    width: 384px;
  }
  /* line 147, ../sass/screen.scss */
  .grid-reponsive__colum__col1 .grid-reponsive__column .grid-reponsive__column__col1_col11 {
    width: 422.4px;
  }
  /* line 148, ../sass/screen.scss */
  .grid-reponsive__colum__col1 .grid-reponsive__column .grid-reponsive__column__col1_col12 {
    width: 460.8px;
  }
  /* line 149, ../sass/screen.scss */
  .grid-reponsive__colum__col1 .grid-reponsive__column .grid-reponsive__column__col1_col13 {
    width: 499.2px;
  }
  /* line 150, ../sass/screen.scss */
  .grid-reponsive__colum__col1 .grid-reponsive__column .grid-reponsive__column__col1_col14 {
    width: 537.6px;
  }
  /* line 151, ../sass/screen.scss */
  .grid-reponsive__colum__col1 .grid-reponsive__column .grid-reponsive__column__col1_col15 {
    width: 576px;
  }
}
/*7 Footer*/
